img {
  width: 20vw;
  height: 20vh;
  object-fit: cover;
  border-radius: 30px;
  margin-top: 3vh;
}

.charDiv {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-auto-flow: row;
justify-items: center;
}

figure {
  border: black 3px solid;
  border-radius: 30px;
  margin: 2vh 2vw 2vh 2vw;

}