img {
  width: 20vw;
  height: 20vh;
  object-fit: cover;
  border-radius: 30px;
  margin-top: 3vh;
  margin: 2vh 2vw 2vw
}

.charDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  justify-items: center;
}

figure {
  border: black 3px solid;
  border-radius: 30px;
  margin: 2vh 2vw 2vh 2vw;
}

button {
  background-color: #bd8f08;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

button:hover {
  background-color: #a4031f;
}

input {
  padding: 10px 20px;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 16px;
}

#filter-and-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 30px;
}

